// *** Vendor
@import '~sass-mediaqueries/media-queries';
@import url('https://use.typekit.net/zpj3uop.css');

// *** Variables
@import 'variables/app';
@import 'variables/bootstrap';
@import 'variables/typography';

// *** Utilities
@import 'utilities/functions';
@import 'utilities/mixins';
@import 'utilities/grid';

// *** Vendor
@import 'vendor/bootstrap';

// *** Layout
@import 'layout/root';
@import 'layout/app';

// *** Modules
@import 'modules/animations';
@import 'modules/buttons';
@import 'modules/icons';
@import 'modules/transitions';

// *** Components
@import 'components/alert';
@import 'components/carousel';
@import 'components/footer';
@import 'components/header';
@import 'components/jumbotron';
@import 'components/loader';
@import 'components/logo';
@import 'components/system-alerts';

// *** Routes
@import 'routes/home';
@import 'routes/cliententry';
@import 'routes/private';
@import 'routes/not-found';


.dark{
  color: $dark-grey;
  text-transform: uppercase;
  padding: 1em;
}
// Vendor Prefixes
//
// All vendor mixins are deprecated as of v3.2.0 due to the introduction of
// Autoprefixer in our Gruntfile. They have been removed in v4.

// - Animations
// - Backface visibility
// - Box shadow
// - Box sizing
// - Content columns
// - Hyphens
// - Placeholder text
// - Transformations
// - Transitions
// - User Select


// Animations
@mixin animation($animation) {
    -webkit-animation: $animation;
         -o-animation: $animation;
            animation: $animation;
  }
  @mixin animation-name($name) {
    -webkit-animation-name: $name;
            animation-name: $name;
  }
  @mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
            animation-duration: $duration;
  }
  @mixin animation-timing-function($timing-function) {
    -webkit-animation-timing-function: $timing-function;
            animation-timing-function: $timing-function;
  }
  @mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
            animation-delay: $delay;
  }
  @mixin animation-iteration-count($iteration-count) {
    -webkit-animation-iteration-count: $iteration-count;
            animation-iteration-count: $iteration-count;
  }
  @mixin animation-direction($direction) {
    -webkit-animation-direction: $direction;
            animation-direction: $direction;
  }
  @mixin animation-fill-mode($fill-mode) {
    -webkit-animation-fill-mode: $fill-mode;
            animation-fill-mode: $fill-mode;
  }
  
  // Backface visibility
  // Prevent browsers from flickering when using CSS 3D transforms.
  // Default value is `visible`, but can be changed to `hidden`
  
  @mixin backface-visibility($visibility) {
    -webkit-backface-visibility: $visibility;
       -moz-backface-visibility: $visibility;
            backface-visibility: $visibility;
  }
  
  // Drop shadows
  //
  // Note: Deprecated `.box-shadow()` as of v3.1.0 since all of Bootstrap's
  // supported browsers that have box shadow capabilities now support it.
  
  @mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
            box-shadow: $shadow;
  }
  
  // Box sizing
  @mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
       -moz-box-sizing: $boxmodel;
            box-sizing: $boxmodel;
  }
  
  // CSS3 Content Columns
  @mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
    -webkit-column-count: $column-count;
       -moz-column-count: $column-count;
            column-count: $column-count;
    -webkit-column-gap: $column-gap;
       -moz-column-gap: $column-gap;
            column-gap: $column-gap;
  }
  
  // Optional hyphenation
  @mixin hyphens($mode: auto) {
    word-wrap: break-word;
    -webkit-hyphens: $mode;
       -moz-hyphens: $mode;
        -ms-hyphens: $mode; // IE10+
         -o-hyphens: $mode;
            hyphens: $mode;
  }
  
  // Placeholder text
  @mixin placeholder($color: $input-color-placeholder) {
    // Firefox
    &::-moz-placeholder {
      color: $color;
      opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }
    &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
    &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
  }
  
  // Transformations
  @mixin scale($ratio...) {
    -webkit-transform: scale($ratio);
        -ms-transform: scale($ratio); // IE9 only
         -o-transform: scale($ratio);
            transform: scale($ratio);
  }
  
  @mixin scaleX($ratio) {
    -webkit-transform: scaleX($ratio);
        -ms-transform: scaleX($ratio); // IE9 only
         -o-transform: scaleX($ratio);
            transform: scaleX($ratio);
  }
  @mixin scaleY($ratio) {
    -webkit-transform: scaleY($ratio);
        -ms-transform: scaleY($ratio); // IE9 only
         -o-transform: scaleY($ratio);
            transform: scaleY($ratio);
  }
  @mixin skew($x, $y) {
    -webkit-transform: skewX($x) skewY($y);
        -ms-transform: skewX($x) skewY($y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
         -o-transform: skewX($x) skewY($y);
            transform: skewX($x) skewY($y);
  }
  @mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
        -ms-transform: translate($x, $y); // IE9 only
         -o-transform: translate($x, $y);
            transform: translate($x, $y);
  }
  @mixin translate3d($x, $y, $z) {
    -webkit-transform: translate3d($x, $y, $z);
            transform: translate3d($x, $y, $z);
  }
  @mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
        -ms-transform: rotate($degrees); // IE9 only
         -o-transform: rotate($degrees);
            transform: rotate($degrees);
  }
  @mixin rotateX($degrees) {
    -webkit-transform: rotateX($degrees);
        -ms-transform: rotateX($degrees); // IE9 only
         -o-transform: rotateX($degrees);
            transform: rotateX($degrees);
  }
  @mixin rotateY($degrees) {
    -webkit-transform: rotateY($degrees);
        -ms-transform: rotateY($degrees); // IE9 only
         -o-transform: rotateY($degrees);
            transform: rotateY($degrees);
  }
  @mixin perspective($perspective) {
    -webkit-perspective: $perspective;
       -moz-perspective: $perspective;
            perspective: $perspective;
  }
  @mixin perspective-origin($perspective) {
    -webkit-perspective-origin: $perspective;
       -moz-perspective-origin: $perspective;
            perspective-origin: $perspective;
  }
  @mixin transform-origin($origin) {
    -webkit-transform-origin: $origin;
       -moz-transform-origin: $origin;
        -ms-transform-origin: $origin; // IE9 only
            transform-origin: $origin;
  }
  
  
  // Transitions
  
  @mixin transition($transition...) {
    -webkit-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
  }
  @mixin transition-property($transition-property...) {
    -webkit-transition-property: $transition-property;
            transition-property: $transition-property;
  }
  @mixin transition-delay($transition-delay) {
    -webkit-transition-delay: $transition-delay;
            transition-delay: $transition-delay;
  }
  @mixin transition-duration($transition-duration...) {
    -webkit-transition-duration: $transition-duration;
            transition-duration: $transition-duration;
  }
  @mixin transition-timing-function($timing-function) {
    -webkit-transition-timing-function: $timing-function;
            transition-timing-function: $timing-function;
  }
  @mixin transition-transform($transition...) {
    -webkit-transition: -webkit-transform $transition;
       -moz-transition: -moz-transform $transition;
         -o-transition: -o-transform $transition;
            transition: transform $transition;
  }
  
  
  // User select
  // For selecting text on the page
  
  @mixin user-select($select) {
    -webkit-user-select: $select;
       -moz-user-select: $select;
        -ms-user-select: $select; // IE10+
            user-select: $select;
  }
//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
    overflow: hidden;
  }
  
  // Container that the modal scrolls within
  .modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    -webkit-overflow-scrolling: touch;
  
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
  
    // When fading in the modal, animate it to slide down
    &.fade .modal-dialog {
      @include translate(0, -25%);
      @include transition-transform(0.3s ease-out);
    }
    &.in .modal-dialog { @include translate(0, 0) }
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  // Shell div to position the modal with bottom padding
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  
  // Actual modal
  .modal-content {
    position: relative;
    background-color: $modal-content-bg;
    border: 1px solid red; //old browsers fallback (ie8 etc)
    border: 1px solid $modal-content-border-color;
    border-radius: 0px;
    @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    background-clip: padding-box;
    // Remove focus outline from opened modal
    outline: 0;
  }
  
  @mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
  }

  // Modal background
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
    background-color: $modal-backdrop-bg;
    // Fade for backdrop
    &.fade { @include opacity(0); }
    &.in { @include opacity($modal-backdrop-opacity); }
  }
  
  // Modal header
  // Top section of the modal w/ title and dismiss
  .modal-header {
    padding: 1rem;
    border-bottom: 1px solid $modal-header-border-color;
    @include clearfix;
  }
  // Close icon
  .modal-header .close {
    margin-top: -2px;
  }
  
  // Title text within header
  .modal-title {
    margin: 0;
    line-height: $modal-title-line-height;
  }
  
  // Modal body
  // Where all modal content resides (sibling of .modal-header and .modal-footer)
  .modal-body {
    position: relative;
    padding: $modal-inner-padding;
  }
  
  // Footer (for actions)
  .modal-footer {
    padding: $modal-inner-padding;
    text-align: right; // right align buttons
    border-top: 1px solid $modal-footer-border-color;
    @include clearfix; // clear it in case folks use .pull-* classes on buttons
  
    // Properly space out buttons
    .btn + .btn {
      margin-left: 5px;
      margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
      margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
      margin-left: 0;
    }
  }
  
  // Measure scrollbar width for padding body during modal show/hide
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }

  
  // Scale up the modal
  @media (min-width: 750px) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
      width: $modal-md;
      margin: 30px auto;
    }
    .modal-content {
      @include box-shadow(0 5px 15px rgba(0,0,0,.5));
    }
  
    // Modal sizes
    .modal-sm { width: $modal-sm; }
  }
  
  @media (min-width: 850px) {
    .modal-lg { width: $modal-lg; }
  }

.ais-ClearAll__root {
    display: block;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: black;
    color: yellow;
  }
  
  #hits {
  }
  .cont-no-margin {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
  }
  
  @media (max-width: 960px) {
    #hits {
      margin-left: 0px !important;
    }
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: black;
    border-color: black;
    color: black!important;
  }
  
  #hits:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .hit {
    width: 33.3%;
    float: left;
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    height: 350px;
  
  }
  /* .hit-
  color:white !important;
  margin-bottom: 0px!important;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  padding: 2rem 1rem; */
  
  @media (max-width: 960px) {
    .hit {
      width: 50%;
      margin-left: 0px !important;
      
    }
  }
  
  .hit .product-picture-wrapper {
    display: flex;
    width: 100%;
    padding: 10%;
    text-align: center;
    margin-bottom: 5px;
    position: absolute;
    height: 100%;
    z-index: 2;
    background-color: rgba(5, 7, 10, 0.76);
    
  }
  
  .hit .product-picture {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
  }
  
  .hit .product-picture img {
    -webkit-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
    /* height: 150px; */
    max-width: 100%;
  }
  
  @media (min-width: 1400px) {
    .hit .product-picture img {
      height: inherit;
    }
  }
  
  .hit .product-desc-wrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 2px;
  }
  
  .hit .product-name {
    font-weight: bold;
    color: #ffffff;
    font-size: .9em;
    margin: 0 0 8px;
    min-width: 120px;
  }
  
  .hit .product-type {
    font-size: .8em;
    margin: 0 0 10px;
    color: #a2a2a2;
  }
  
  .hit em {
    color: #000000;
    font-style: normal;
    background-color: #FFBE61;
  }
  
  .thank-you {
    text-align: center;
    font-size: .8em;
    padding: 10px;
  }
  
  /* Modals */
  
  .modal-content {
    background-color: black;
    border: 1px solid #baab8f;
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
    position: relative;
  }
  
  .modal-header {
    border-bottom: 1px solid black;
  }
  
  .modal-footer {
    border-top: 1px solid black;
  }
  
  .modal-title {
    color: white;
    font-size: 48px;
    line-height: 50px;
  }
  .modal-second-title{
    padding-top: 10px;
    font-size: 32px;
    line-height: 34px;
  }
  
  .close {
    float: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(255, 255, 255);
  }
  .close:hover {
    float: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(255, 255, 255);
  }
    
  .modal-body .share-module {
    font-family: 'acumin-pro-extra-condensed',Sans-Serif;
    margin: 15px 0px;
    font-weight: bold;
    letter-spacing: .105em;
    font-size: 18px;
    border-top: 2px solid #baab8f;
    border-bottom: 2px solid #baab8f;
    padding: 20px 0px;
    text-align: center;
  }
  
  .recipe-scroll{
    height: auto;
    overflow: visible;
  }
  
  .ingredients {
    border-right: none;
    padding-left: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .ingredients-list {
    padding-bottom: 5px;
  
  }
  .instructions {
    padding-left: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .cigar-pairing {
    border-right: none;
    padding-left: 0px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 40px;
  }
  
  .fab {
    letter-spacing: .065em;
    margin: 0px 0px 0px 4%;
  }
  
  .ais-MenuSelect__select {
    font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
    font-size: 24px;
    padding: 10px 0px;
    padding-right: 30px;
    position: relative;
    border-bottom: 1px dashed #baab8f;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    min-width: 200px;
    position: relative;
    color: #baab8f;
    background: none;
  }
  .ais-MenuSelect__option {
    color:blue;
  
  }
  .ais-MenuSelect__option--count {
    display:none;
  }
  .ais-MenuSelect__itemCount {
    color:red;
  }
  
  
  .control-panel {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 320px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #6b6b76;
    text-transform: uppercase;
    outline: none;
  }

.hit .product-picture-wrapper {
  display: flex;
  width: 100%;
  padding: 10%;
  text-align: center;
  margin-bottom: 5px;
  position: absolute;
  height: 100%;
  z-index: 2;
  background-color: rgba(5, 7, 10, 0.76);
  
}

.hit .product-picture {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.hit .product-picture img {
  -webkit-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* height: 150px; */
  max-width: 100%;
}

@media (min-width: 1400px) {
  .hit .product-picture img {
    height: inherit;
  }
}

.hit .product-desc-wrapper {
  height: 100px;
  width: 100%;
  overflow: hidden;
  padding: 2px;
}

.hit .product-name {
  font-weight: bold;
  color: #ffffff;
  font-size: .9em;
  margin: 0 0 8px;
  min-width: 120px;
}

.hit .product-type {
  font-size: .8em;
  margin: 0 0 10px;
  color: #a2a2a2;
}

.hit em {
  color: #000000;
  font-style: normal;
  background-color: #FFBE61;
}

.thank-you {
  text-align: center;
  font-size: .8em;
  padding: 10px;
}

/* Modals */

.modal-content {
  background-color: black;
  border: 1px solid #baab8f;
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
  position: relative;
}

.modal-header {
  border-bottom: 1px solid black;
}

.modal-footer {
  border-top: 1px solid black;
}

.modal-title {
  color: white;
  font-size: 48px;
  line-height: 50px;
}
.modal-second-title{
  padding-top: 10px;
  font-size: 32px;
  line-height: 34px;
}

.close {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.close:hover {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
  
.modal-body .share-module {
  font-family: 'acumin-pro-extra-condensed',Sans-Serif;
  margin: 15px 0px;
  font-weight: bold;
  letter-spacing: .105em;
  font-size: 18px;
  border-top: 2px solid #baab8f;
  border-bottom: 2px solid #baab8f;
  padding: 20px 0px;
  text-align: center;
}

.recipe-scroll{
  height: auto;
  overflow: visible;
}

.ingredients {
  border-right: none;
  padding-left: 0px;
  text-align: center;
  box-sizing: border-box;
}

.ingredients-list {
  padding-bottom: 5px;

}
.instructions {
  padding-left: 0px;
  text-align: center;
  box-sizing: border-box;
}

.cigar-pairing {
  border-right: none;
  padding-left: 0px;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.fab {
  letter-spacing: .065em;
  margin: 0px 0px 0px 4%;
}

.ais-MenuSelect__select {
  font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
  font-size: 24px;
  padding: 10px 0px;
  padding-right: 30px;
  position: relative;
  border-bottom: 1px dashed #baab8f;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  text-align: left;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
  position: relative;
  color: #baab8f;
  background: none;
}
.ais-MenuSelect__option {
  color:blue;

}
.ais-MenuSelect__option--count {
  display:none;
}
.ais-MenuSelect__itemCount {
  color:red;
}


.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

select {
  background: none;
  color: white;
  border: none;
}
select > option {
  background: blue !important;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.ais-MenuSelect-option {
  background:red;
}