// *** Vendor
@import '~sass-mediaqueries/media-queries';
@import url('https://use.typekit.net/zpj3uop.css');

// *** Variables
@import 'variables/app';
@import 'variables/bootstrap';
@import 'variables/typography';

// *** Utilities
@import 'utilities/functions';
@import 'utilities/mixins';
@import 'utilities/grid';

// *** Vendor
@import 'vendor/bootstrap';

// *** Layout
@import 'layout/root';
@import 'layout/app';

// *** Modules
@import 'modules/animations';
@import 'modules/buttons';
@import 'modules/icons';
@import 'modules/transitions';

// *** Components
@import 'components/alert';
@import 'components/carousel';
@import 'components/footer';
@import 'components/header';
@import 'components/jumbotron';
@import 'components/loader';
@import 'components/logo';
@import 'components/system-alerts';

// *** Routes
@import 'routes/home';
@import 'routes/cliententry';
@import 'routes/private';
@import 'routes/not-found';


.dark{
  color: $dark-grey;
  text-transform: uppercase;
  padding: 1em;
}
// Vendor Prefixes
//
// All vendor mixins are deprecated as of v3.2.0 due to the introduction of
// Autoprefixer in our Gruntfile. They have been removed in v4.

// - Animations
// - Backface visibility
// - Box shadow
// - Box sizing
// - Content columns
// - Hyphens
// - Placeholder text
// - Transformations
// - Transitions
// - User Select


// Animations
@mixin animation($animation) {
    -webkit-animation: $animation;
         -o-animation: $animation;
            animation: $animation;
  }
  @mixin animation-name($name) {
    -webkit-animation-name: $name;
            animation-name: $name;
  }
  @mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
            animation-duration: $duration;
  }
  @mixin animation-timing-function($timing-function) {
    -webkit-animation-timing-function: $timing-function;
            animation-timing-function: $timing-function;
  }
  @mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
            animation-delay: $delay;
  }
  @mixin animation-iteration-count($iteration-count) {
    -webkit-animation-iteration-count: $iteration-count;
            animation-iteration-count: $iteration-count;
  }
  @mixin animation-direction($direction) {
    -webkit-animation-direction: $direction;
            animation-direction: $direction;
  }
  @mixin animation-fill-mode($fill-mode) {
    -webkit-animation-fill-mode: $fill-mode;
            animation-fill-mode: $fill-mode;
  }
  
  // Backface visibility
  // Prevent browsers from flickering when using CSS 3D transforms.
  // Default value is `visible`, but can be changed to `hidden`
  
  @mixin backface-visibility($visibility) {
    -webkit-backface-visibility: $visibility;
       -moz-backface-visibility: $visibility;
            backface-visibility: $visibility;
  }
  
  // Drop shadows
  //
  // Note: Deprecated `.box-shadow()` as of v3.1.0 since all of Bootstrap's
  // supported browsers that have box shadow capabilities now support it.
  
  @mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
            box-shadow: $shadow;
  }
  
  // Box sizing
  @mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
       -moz-box-sizing: $boxmodel;
            box-sizing: $boxmodel;
  }
  
  // CSS3 Content Columns
  @mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
    -webkit-column-count: $column-count;
       -moz-column-count: $column-count;
            column-count: $column-count;
    -webkit-column-gap: $column-gap;
       -moz-column-gap: $column-gap;
            column-gap: $column-gap;
  }
  
  // Optional hyphenation
  @mixin hyphens($mode: auto) {
    word-wrap: break-word;
    -webkit-hyphens: $mode;
       -moz-hyphens: $mode;
        -ms-hyphens: $mode; // IE10+
         -o-hyphens: $mode;
            hyphens: $mode;
  }
  
  // Placeholder text
  @mixin placeholder($color: $input-color-placeholder) {
    // Firefox
    &::-moz-placeholder {
      color: $color;
      opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }
    &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
    &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
  }
  
  // Transformations
  @mixin scale($ratio...) {
    -webkit-transform: scale($ratio);
        -ms-transform: scale($ratio); // IE9 only
         -o-transform: scale($ratio);
            transform: scale($ratio);
  }
  
  @mixin scaleX($ratio) {
    -webkit-transform: scaleX($ratio);
        -ms-transform: scaleX($ratio); // IE9 only
         -o-transform: scaleX($ratio);
            transform: scaleX($ratio);
  }
  @mixin scaleY($ratio) {
    -webkit-transform: scaleY($ratio);
        -ms-transform: scaleY($ratio); // IE9 only
         -o-transform: scaleY($ratio);
            transform: scaleY($ratio);
  }
  @mixin skew($x, $y) {
    -webkit-transform: skewX($x) skewY($y);
        -ms-transform: skewX($x) skewY($y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
         -o-transform: skewX($x) skewY($y);
            transform: skewX($x) skewY($y);
  }
  @mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
        -ms-transform: translate($x, $y); // IE9 only
         -o-transform: translate($x, $y);
            transform: translate($x, $y);
  }
  @mixin translate3d($x, $y, $z) {
    -webkit-transform: translate3d($x, $y, $z);
            transform: translate3d($x, $y, $z);
  }
  @mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
        -ms-transform: rotate($degrees); // IE9 only
         -o-transform: rotate($degrees);
            transform: rotate($degrees);
  }
  @mixin rotateX($degrees) {
    -webkit-transform: rotateX($degrees);
        -ms-transform: rotateX($degrees); // IE9 only
         -o-transform: rotateX($degrees);
            transform: rotateX($degrees);
  }
  @mixin rotateY($degrees) {
    -webkit-transform: rotateY($degrees);
        -ms-transform: rotateY($degrees); // IE9 only
         -o-transform: rotateY($degrees);
            transform: rotateY($degrees);
  }
  @mixin perspective($perspective) {
    -webkit-perspective: $perspective;
       -moz-perspective: $perspective;
            perspective: $perspective;
  }
  @mixin perspective-origin($perspective) {
    -webkit-perspective-origin: $perspective;
       -moz-perspective-origin: $perspective;
            perspective-origin: $perspective;
  }
  @mixin transform-origin($origin) {
    -webkit-transform-origin: $origin;
       -moz-transform-origin: $origin;
        -ms-transform-origin: $origin; // IE9 only
            transform-origin: $origin;
  }
  
  
  // Transitions
  
  @mixin transition($transition...) {
    -webkit-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
  }
  @mixin transition-property($transition-property...) {
    -webkit-transition-property: $transition-property;
            transition-property: $transition-property;
  }
  @mixin transition-delay($transition-delay) {
    -webkit-transition-delay: $transition-delay;
            transition-delay: $transition-delay;
  }
  @mixin transition-duration($transition-duration...) {
    -webkit-transition-duration: $transition-duration;
            transition-duration: $transition-duration;
  }
  @mixin transition-timing-function($timing-function) {
    -webkit-transition-timing-function: $timing-function;
            transition-timing-function: $timing-function;
  }
  @mixin transition-transform($transition...) {
    -webkit-transition: -webkit-transform $transition;
       -moz-transition: -moz-transform $transition;
         -o-transition: -o-transform $transition;
            transition: transform $transition;
  }
  
  
  // User select
  // For selecting text on the page
  
  @mixin user-select($select) {
    -webkit-user-select: $select;
       -moz-user-select: $select;
        -ms-user-select: $select; // IE10+
            user-select: $select;
  }
//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
    overflow: hidden;
  }
  
  // Container that the modal scrolls within
  .modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    -webkit-overflow-scrolling: touch;
  
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
  
    // When fading in the modal, animate it to slide down
    &.fade .modal-dialog {
      @include translate(0, -25%);
      @include transition-transform(0.3s ease-out);
    }
    &.in .modal-dialog { @include translate(0, 0) }
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  // Shell div to position the modal with bottom padding
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  
  // Actual modal
  .modal-content {
    position: relative;
    background-color: $modal-content-bg;
    border: 1px solid red; //old browsers fallback (ie8 etc)
    border: 1px solid $modal-content-border-color;
    border-radius: 0px;
    @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    background-clip: padding-box;
    // Remove focus outline from opened modal
    outline: 0;
  }
  
  @mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
  }

  // Modal background
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
    background-color: $modal-backdrop-bg;
    // Fade for backdrop
    &.fade { @include opacity(0); }
    &.in { @include opacity($modal-backdrop-opacity); }
  }
  
  // Modal header
  // Top section of the modal w/ title and dismiss
  .modal-header {
    padding: 1rem;
    border-bottom: 1px solid $modal-header-border-color;
    @include clearfix;
  }
  // Close icon
  .modal-header .close {
    margin-top: -2px;
  }
  
  // Title text within header
  .modal-title {
    margin: 0;
    line-height: $modal-title-line-height;
  }
  
  // Modal body
  // Where all modal content resides (sibling of .modal-header and .modal-footer)
  .modal-body {
    position: relative;
    padding: $modal-inner-padding;
  }
  
  // Footer (for actions)
  .modal-footer {
    padding: $modal-inner-padding;
    text-align: right; // right align buttons
    border-top: 1px solid $modal-footer-border-color;
    @include clearfix; // clear it in case folks use .pull-* classes on buttons
  
    // Properly space out buttons
    .btn + .btn {
      margin-left: 5px;
      margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
      margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
      margin-left: 0;
    }
  }
  
  // Measure scrollbar width for padding body during modal show/hide
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }

  
  // Scale up the modal
  @media (min-width: 750px) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
      width: $modal-md;
      margin: 30px auto;
    }
    .modal-content {
      @include box-shadow(0 5px 15px rgba(0,0,0,.5));
    }
  
    // Modal sizes
    .modal-sm { width: $modal-sm; }
  }
  
  @media (min-width: 850px) {
    .modal-lg { width: $modal-lg; }
  }

.ais-ClearAll__root {
    display: block;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: black;
    color: yellow;
  }
  
  #hits {
  }
  .cont-no-margin {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
  }
  
  @media (max-width: 960px) {
    #hits {
      margin-left: 0px !important;
    }
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: black;
    border-color: black;
    color: black!important;
  }
  
  #hits:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .hit {
    width: 33.3%;
    float: left;
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    height: 350px;
  
  }
  /* .hit-
  color:white !important;
  margin-bottom: 0px!important;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  padding: 2rem 1rem; */
  
  @media (max-width: 960px) {
    .hit {
      width: 50%;
      margin-left: 0px !important;
      
    }
  }
  
  .hit .product-picture-wrapper {
    display: flex;
    width: 100%;
    padding: 10%;
    text-align: center;
    margin-bottom: 5px;
    position: absolute;
    height: 100%;
    z-index: 2;
    background-color: rgba(5, 7, 10, 0.76);
    
  }
  
  .hit .product-picture {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
  }
  
  .hit .product-picture img {
    -webkit-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
    /* height: 150px; */
    max-width: 100%;
  }
  
  @media (min-width: 1400px) {
    .hit .product-picture img {
      height: inherit;
    }
  }
  
  .hit .product-desc-wrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 2px;
  }
  
  .hit .product-name {
    font-weight: bold;
    color: #ffffff;
    font-size: .9em;
    margin: 0 0 8px;
    min-width: 120px;
  }
  
  .hit .product-type {
    font-size: .8em;
    margin: 0 0 10px;
    color: #a2a2a2;
  }
  
  .hit em {
    color: #000000;
    font-style: normal;
    background-color: #FFBE61;
  }
  
  .thank-you {
    text-align: center;
    font-size: .8em;
    padding: 10px;
  }
  
  /* Modals */
  
  .modal-content {
    background-color: black;
    border: 1px solid #baab8f;
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
    position: relative;
  }
  
  .modal-header {
    border-bottom: 1px solid black;
  }
  
  .modal-footer {
    border-top: 1px solid black;
  }
  
  .modal-title {
    color: white;
    font-size: 48px;
    line-height: 50px;
  }
  .modal-second-title{
    padding-top: 10px;
    font-size: 32px;
    line-height: 34px;
  }
  
  .close {
    float: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(255, 255, 255);
  }
  .close:hover {
    float: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(255, 255, 255);
  }
    
  .modal-body .share-module {
    font-family: 'acumin-pro-extra-condensed',Sans-Serif;
    margin: 15px 0px;
    font-weight: bold;
    letter-spacing: .105em;
    font-size: 18px;
    border-top: 2px solid #baab8f;
    border-bottom: 2px solid #baab8f;
    padding: 20px 0px;
    text-align: center;
  }
  
  .recipe-scroll{
    height: auto;
    overflow: visible;
  }
  
  .ingredients {
    border-right: none;
    padding-left: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .ingredients-list {
    padding-bottom: 5px;
  
  }
  .instructions {
    padding-left: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .cigar-pairing {
    border-right: none;
    padding-left: 0px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 40px;
  }
  
  .fab {
    letter-spacing: .065em;
    margin: 0px 0px 0px 4%;
  }
  
  .ais-MenuSelect {
    font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
    font-size: 24px;
    padding: 10px 0px;
    padding-right: 30px;
    position: relative;
    border-bottom: 1px dashed #baab8f;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    min-width: 200px;
    position: relative;
    color: #baab8f;
    background: none;
  }
  .ais-MenuSelect--count {
    display: none;
  }
  .ais-MenuSelect__option {
    color:blue;
  
  }
  .ais-MenuSelect__option--count {
    display:none;
  }
  .ais-MenuSelect__itemCount {
    color:red;
  }
  
  
  .control-panel {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 320px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #6b6b76;
    text-transform: uppercase;
    outline: none;
  }

.hit .product-picture-wrapper {
  display: flex;
  width: 100%;
  padding: 10%;
  text-align: center;
  margin-bottom: 5px;
  position: absolute;
  height: 100%;
  z-index: 2;
  background-color: rgba(5, 7, 10, 0.76);
  
}

.hit .product-picture {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.hit .product-picture img {
  -webkit-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* height: 150px; */
  max-width: 100%;
}

@media (min-width: 1400px) {
  .hit .product-picture img {
    height: inherit;
  }
}

.hit .product-desc-wrapper {
  height: 100px;
  width: 100%;
  overflow: hidden;
  padding: 2px;
}

.hit .product-name {
  font-weight: bold;
  color: #ffffff;
  font-size: .9em;
  margin: 0 0 8px;
  min-width: 120px;
}

.hit .product-type {
  font-size: .8em;
  margin: 0 0 10px;
  color: #a2a2a2;
}

.hit em {
  color: #000000;
  font-style: normal;
  background-color: #FFBE61;
}

.thank-you {
  text-align: center;
  font-size: .8em;
  padding: 10px;
}

/* Modals */

.modal-content {
  background-color: black;
  border: 1px solid #baab8f;
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
  position: relative;
}

.modal-header {
  border-bottom: 1px solid black;
}

.modal-footer {
  border-top: 1px solid black;
}

.modal-title {
  color: white;
  font-size: 48px;
  line-height: 50px;
}
.modal-second-title{
  padding-top: 10px;
  font-size: 32px;
  line-height: 34px;
}

.close {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.close:hover {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
  
.modal-body .share-module {
  font-family: 'acumin-pro-extra-condensed',Sans-Serif;
  margin: 15px 0px;
  font-weight: bold;
  letter-spacing: .105em;
  font-size: 18px;
  border-top: 2px solid #baab8f;
  border-bottom: 2px solid #baab8f;
  padding: 20px 0px;
  text-align: center;
}

.recipe-scroll{
  height: auto;
  overflow: visible;
}

.ingredients {
  border-right: none;
  padding-left: 0px;
  text-align: center;
  box-sizing: border-box;
}

.ingredients-list {
  padding-bottom: 5px;

}
.instructions {
  padding-left: 0px;
  text-align: center;
  box-sizing: border-box;
}

.cigar-pairing {
  border-right: none;
  padding-left: 0px;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.fab {
  letter-spacing: .065em;
  margin: 0px 0px 0px 4%;
}

.ais-MenuSelect__select {
  font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
  font-size: 24px;
  padding: 10px 0px;
  padding-right: 30px;
  position: relative;
  border-bottom: 1px dashed #baab8f;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  text-align: left;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
  position: relative;
  color: #baab8f;
  background: none;
}
.ais-MenuSelect__option {
  color:blue;

}
.ais-MenuSelect__option--count {
  display:none;
}
.ais-MenuSelect__itemCount {
  color:red;
}


.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

select {
  background: none;
  color: $app-color-muted !important;  
  border: none;
}
select > option {
  background: blue !important;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.ais-MenuSelect-option {
  background:red;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  width:100%
}

// Fun search
.side-aligned-content {
	border-bottom: none;
	min-height: 635px;
}
.side-aligned-content.history {
	display: inline-block;
	margin-top: 20px;
	min-height: 200px;
	padding-bottom: 50px;
	width: 100%;
}
.side-aligned-content.distillery {
	background-color: #000;
}

.side-aligned-content h2 {
	padding-top: 0;
}
.side-aligned-content h5 {
	color: #acacac;
}
.side-aligned-content h5.super-header {
	font-size: 18px;
}

.side-aligned-content .content-centering {
	padding: 0px 10px;
}
.side-aligned-content .parallax {
	bottom: 0;
	height: auto;
	position: absolute;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	width: 150px;
	z-index: 0;
}
.side-aligned-content .img-wrapper {
	position: relative;
}

.side-aligned-content.distillery .mobile-top-margin,
.side-aligned-content.distillery .distillery-hide {
	float: left;
}
.side-aligned-content.distillery .hotspot {
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.side-aligned-content.distillery .hotspot .hotspot-wrap {
	position: relative;
}
.side-aligned-content.distillery .hotspot.hotspot-h0 {
	left: 18.9%;
	top: 57%;
}
.side-aligned-content.distillery .hotspot.hotspot-h1 {
	left: 36.6%;
	top: 76.6%;
}
.side-aligned-content.distillery .hotspot.hotspot-h2 {
	left: 55%;
	top: 85%;
}
.side-aligned-content.distillery .hotspot.hotspot-h3 {
	left: 78.1%;
	top: 78.8%;
}

.side-aligned-content.distillery .hotspot .distill-btn {
	background-color: #fff;
	border: 6px solid #baab8f;
	border-radius: 50%;
	color: #000;
	font-size: 12px;
	padding: 8px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: transform .25s ease-in-out;
	-moz-transition: transform .25s ease-in-out;
	-ms-transition: transform .25s ease-in-out;
	-o-transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}
.side-aligned-content.distillery .hotspot .hover-box {
	background-color: #000000;
	border: 2px solid #baab8f;
	display: none;
	font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
	height: 120px;
	left: -86px;
	position: absolute;
	text-align: center;
	top: -142px;
	width: 200px;
	z-index: 10;
}
.side-aligned-content.distillery .hotspot .hover-box .hotspot-title {
	padding: 15px 7px 7px 7px;
}
.side-aligned-content.distillery .hotspot .hover-box p.hotspot-text{
	padding: 0px 7px 15px 7px;
}
.side-aligned-content.distillery .hotspot .arrow-down {
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #baab8f;
	display: none;
	height: 0;
	left: 4px;
	position: absolute;
	top: -19px;
	z-index: 10;
	width: 0;
}
.side-aligned-content.distillery .hotspot.opened .hover-box,
.side-aligned-content.distillery .hotspot.opened .arrow-down {
	display: block;
}
.side-aligned-content.distillery .hotspot.opened .distill-btn {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.side-aligned-content.history .history-super {
	color: #baab8f;
	font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
}
.side-aligned-content.history .history-super .svg-wrap {
	margin-left: 5px;
}
.side-aligned-content.history .history-super .svg-wrap svg {
	fill: #baab8f;
	height: 100%;
	max-height: 28px;
	max-width: 100%;
	vertical-align: baseline;
	width: 100%;
}
.side-aligned-content.history .content-align h1 {
	line-height: 65px;
	margin: 2px 0px;
}
.side-aligned-content.history .content-align h1.year {
	color: #868686;
}
.side-aligned-content.history .content-align .button {
	margin: 10px 0;
}
.side-aligned-content.history .content-align .bars-div {
	margin: 5px auto;
}

.side-aligned-content .recipe-selector {
	clear: both;
	color: #fff;
	font-family: "ff-tisa-web-pro",Slab-Serif,Sans-Serif;
	font-size: 24px;
}
.side-aligned-content .recipe-selector:after,
.side-aligned-content .recipe-selector .ob-text.occasion {
	clear: both;
}
.side-aligned-content .recipe-selector .ob-text {
	padding: 10px 0px;
}
.side-aligned-content .recipe-selector .bottle-select,
.side-aligned-content .recipe-selector .occasion-select {
	display: inline-block;
	margin-left: 10px;
}
.side-aligned-content .recipe-form button.button {
	clear: both;
	float: left;
}

.side-aligned-content .recipe-selector .mod-select .selected:after {
	content: "\e918";
	font-family: 'jdicons';
}
.side-aligned-content .recipe-selector .mod-select.collapsed .selected:after {
	content: "\e901";
	z-index: 99;
}
.side-aligned-content .recipe-selector .mod-select[tabindex]:focus, .side-aligned-content .recipe-selector .mod-select [tabindex]:focus {
	outline:none;
}
.side-aligned-content .recipe-selector .mod-select .dropdown {
	max-height: 250px;
}
.side-aligned-content .recipe-selector .mod-select .selected.white {
	border-bottom: 1px solid #fff;
	color: #ffffff;
}

.side-aligned-content .recipe-filter button.button {
	background: none;
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	font-weight: bold;
	letter-spacing: .065em;
}

.side-aligned-content .history-bars-div {
	border-right: 1px solid #baab8f;
	border-left: 1px solid #baab8f;
	height: 75px;
	margin: 25px 0px 20px 2px;
	width: 2px;
}

.component.side-aligned-content div.collapse-background {
	display: none;
}

@media (max-width: 959px) {
	.side-aligned-content .content-centering {
		padding: 0px 35px;
	}

	.side-aligned-content .recipe-selector .ob-text.bottle,
	.side-aligned-content .recipe-selector .ob-text.occasion {
		width: 100%;
	}

	.side-aligned-content .parallax{
		left: 50px;
	}
}

@media (max-width: 480px) {
	.side-aligned-content {
		border-bottom: 1px solid #baab8f;
		min-height: 520px;
	}
	.component.side-aligned-content.mobile-collapse {
		border-top: 1px solid #baab8f;
		min-height: 235px;
	}

	.side-aligned-content .parallax,
	.side-aligned-content .distillery-hide,
	.side-aligned-content.mobile-collapse .button,
	.side-aligned-content.mobile-collapse .year,
	.component.side-aligned-content.mobile-collapse .mobile-collapse-img,
	.component.side-aligned-content.opened div.collapse-background {
		display: none;
	}
	.side-aligned-content.mobile-collapse.opened .button {
		display: inline-block;
	}
	.side-aligned-content.mobile-collapse.opened .year,
	.component.side-aligned-content.mobile-collapse.opened .mobile-collapse-img {
		display: block;
	}

	.side-aligned-content .recipe-selector {
		padding-bottom: 20px;
	}
	.side-aligned-content .width-wrapper {
		padding: 0px;
	}

	.side-aligned-content.history {
		display: block;
		margin-top: 0;
		padding-bottom: 0px;
	}
	.side-aligned-content.history .history-header {
		line-height: 40px;
		margin: 2px 0px;
	}

	.side-aligned-content .mobile-collapse-overlay {
		background: rgba(0,0,0,.5);
		height: 100%;
		position: absolute;
		width: 100%;
	}
	.component.side-aligned-content.mobile-collapse div.collapse-background {
		display: block;
		height: 100%;
		opacity: 1;
		position: absolute;
		width: 100%;
		z-index: -1;
	}
}

/*Global Begin*/
body{
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:#fff;
}
body.noscroll{
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
body.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


article{
	background-color: black;
	-webkit-font-smoothing: antialiased;
	position: relative;
}
article.page-story{
	background-color: white;
}

a,button,input,label,form,ul,p,h1,h2,h3,h4,h5,.mod-select,.share-text,.button-toggle {
	opacity: 1;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
html.wf-loading a,
html.wf-loading button,
html.wf-loading input,
html.wf-loading label,
html.wf-loading form,
html.wf-loading ul,
html.wf-loading p,
html.wf-loading h1,
html.wf-loading h2,
html.wf-loading h3,
html.wf-loading h4,
html.wf-loading h5,
html.wf-loading .mod-select,
html.wf-loading .share-text,
html.wf-loading .button-toggle {
	opacity: 0;
}
article.page-story a,
article.page-story p,
article.page-story h2,
article.page-story h3,
article.page-story h4,
article.page-story h5,
article.page-story .xola-button{
	color: black;
}
h1{
	font-size: 65px;
	text-align: center;
	line-height: 65px;
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	color: white;
	letter-spacing: .065em;
	text-transform: uppercase;
	font-weight: bold;
	margin:10px 0px;
}
html.wf-inactive h1{
	font-size: 36px;
}
h2{
	font-size: 48px;
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	font-weight: bold;
	padding-bottom: 10px;
	letter-spacing: .065em;
	padding-top: 30px;
	text-transform: uppercase;
}
html.wf-inactive h2{
	font-size: 28px;
}

html.wf-inactive h3{
	font-size:19px;
}
h4{
	font-size:24px;
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	font-weight: bold;
	letter-spacing: .065em;
	padding-bottom: 10px;
	text-transform: uppercase;
}
html.wf-inactive h4{
	font-size:16px;
}
h5{
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	font-size: 18px;
	font-weight:bold;
	letter-spacing: .105em;
	text-transform: uppercase;
}
html.wf-inactive h5{
	font-size: 11px;
}
p{
	font-family: "ff-tisa-web-pro",Slab-Serif,Sans-Serif;
	line-height: 23px;
}
a{
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	letter-spacing: .065em;
	font-weight:bold;
}
li{
	font-family: "ff-tisa-web-pro",Slab-Serif,Sans-Serif;
	color:white;
	line-height: 23px;
}
img{
	width: 100%;
}
*[tabindex]:focus,
.option.focus,
a:focus {
	outline: -webkit-focus-ring-color auto 8px;
	outline-color: #baab8f;
	outline-style: auto;
	outline-width: 8px;
	-moz-outline-radius: 4px;
}

html.firefox *[tabindex]:focus,
html.firefox .option.focus,
html.firefox a:focus,
html.safari *[tabindex]:focus,
html.safari .option.focus,
html.safari a:focus {
	outline-style: solid;
	outline-width: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.row-wrap {
	display:-webkit-flex;
	display:-webkit-box;
	display:-moz-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}
.cell-wrap {
	align-self: stretch;
	align-items: flex-start;
	display: block;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction:row;
	position: relative;
}
#page-wrapper{
	margin:auto;
	width: 100%;
}
#document-overlay {
	background-color: transparent;
	cursor: pointer;
	cursor: grabbing;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-ms-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	width: 100%;
	z-index: 9999;
}
.width-wrapper{
	max-width: 960px;
	margin: 0 auto;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.svg-wrap svg {
	height: auto;
	vertical-align: middle;
	width: auto;
}
.logo{
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
	height: 36px;
	display: inline-block;
	width: 93px;
	margin:13px 0 0 41px;
}
p a {
	font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
	font-size: inherit;
	font-weight: inherit;
	color: #baab8f;
	letter-spacing: inherit;
}

.mobile-show{
	display: none;
}

.select-wrapper {
	display: inline-block;
	position: relative;
}
.select-wrapper select {
	bottom: 0;
	display: none;
	font-size: 16px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
html.wf-inactive .select-wrapper select{
	font-size: 11px;
}
.mod-select {
	cursor: pointer;
	display: block;
	float: left;
	min-width: 200px;
	position: relative;
	color: #baab8f;
}
.mod-select .selected {
	font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
	font-size: 24px;
	padding: 10px 0px;
	padding-right: 30px;
	position: relative;
	border-bottom: 1px dashed #baab8f;
	text-align: left;
}
.mod-select.cl-drop .selected{
	color: #fff;
	font-family: 'acumin-pro-extra-condensed',Sans-Serif;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #fff;
	padding: 10px 30px 10px 10px;
}
html.wf-inactive .mod-select.cl-drop .selected{
	font-size: 11px;
}
.mod-select .selected:after {
	content: "\e904";
	font-family: 'jdicons';
	font-size: 6px;
	line-height: 45px;
	position: absolute;
	right: -15px;
	top: 0;
	z-index: 101;
}
.mod-select.cl-drop .selected:after{
	right: 15px;
}
.mod-select.collapsed .selected:after {
	content: "\e900";
	z-index: 99;
}
.mod-select .dropdown {
	background: #000;
	text-align: left;
	max-height: 200px;
	left: -1px;
	list-style: none !important;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	padding: 0 !important;
	right: -1px;
	top: 100%;
	z-index: 100;
}
.mod-select .dropdown div {
	position: relative;
}
.mod-select.cl-drop .dropdown {
	border: 2px solid #ffffff;
	left: 0px;
	right: 0px;
	position: absolute;
}

.mod-select.collapsed .dropdown {
	border-width: 0px;
	height: 0;
}
.mod-select .dropdown li {
	background: #000;
	box-sizing: border-box;
	color: #baab8f;
	font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
	font-size: 18px;
	padding: 10px;
	position: relative;
	-webkit-transition: color .25s ease-in-out, background .25s ease-in-out;
	-moz-transition: color .25s ease-in-out, background .25s ease-in-out;
	-ms-transition: color .25s ease-in-out, background .25s ease-in-out;
	-o-transition: color .25s ease-in-out, background .25s ease-in-out;
	transition: color .25s ease-in-out, background .25s ease-in-out;
	width: 100%;
}
html.wf-inactive .mod-select .dropdown li{
	font-size: 11px;
}
.mod-select.cl-drop .dropdown li {
	color: #ffffff;
	font-family: 'acumin-pro-extra-condensed',Sans-Serif;
	font-weight: bold;
}

.mod-select .dropdown li:first-child {
	padding-top: 10px;
}
.mod-select .dropdown li:hover {
	background-color: #212121;
}
/* end select boxes */

.user-login-form {
	color: #fff;
	margin-top: 120px;
}
.content-nav-container{
	background-color: #000;
	z-index: 1;
	position: relative;
	padding-bottom: 25px;
}
.page-story .content-nav-container{
	background-color: #FFF;
	padding-bottom: 25px;
}
.content-nav.width-wrapper{
	display: table;
    width: 100%;
	border-bottom: 1px double #baab8f;
	border-width: 4px;
/*	margin-bottom: 25px;
	margin-top: -20px;*/
	position: relative;
	z-index: 100;
}
.page-recipe .content-nav.width-wrapper,
.page-product .content-nav.width-wrapper {
	border-top: 4px double #baab8f;
	margin-top: 20px;
}
.content-nav h3{
	font-size: 24px;
}
.content-nav .content-prev{
	border-right: 1px solid #baab8f;
}
.content-prev h3, .content-prev a{
	text-align: right;
	width: 100%;
	float: right;
}
.content-nav a{
	text-decoration: none;
}
.content-nav a span {
	color: #baab8f;
}
.content-next h3, .content-next a{
	text-align: left;
	width: 100%;
	float: left;
}
.content-nav .content-next,.content-nav .content-prev{
	text-align: center;
	padding:40px 80px;
	display: table-cell;
	max-width: 580px;
}
.story-teaser-section {
	background: #000;
	position: relative;
	z-index: 100;
}
.story-teaser-section .width-wrapper {
	display: table;
	padding: 100px 0;
	width: 100%;
}
.story-teaser-section .story-teaser {
	display: table-cell;
	vertical-align: top;
}
.story-teaser-section .story-teaser a {
	color: #fff;
	text-decoration: none;
}
.story-teaser-section .story-teaser .image > div {
	border-bottom: 1px solid #fff;
	margin: 0 auto 5px auto;
	text-align: center;
}
.story-teaser-section .story-teaser img {
	padding-bottom: 8px;
	margin-bottom: 5px;
	max-height: 200px;
	max-width: 100%;
	width: auto;
}
.story-teaser-section .story-teaser h5 {
	color: #fff;
	text-align: center;
	font-size: 26px;
	margin-bottom: 10px;
	line-height: 26px;
	letter-spacing: 0;
}
.story-teaser-section .story-teaser p {
	color: #fff;
	text-align: center;
	font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
	font-size:18px;
	line-height: 18px;
	font-weight: normal;
	letter-spacing: 0;
}
a div.button-table{
	display: table;
}
a div.button-table .button-cell span.button-text-wrapper{
	display: table-cell;
	vertical-align: middle;
}
a div.button-table .button-cell span.svg-wrap{
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
}
div.register-border{
	border-top: double 1px #baab8f;
	border-width: 4px;
	padding-top: 28px;
}

em {
	font-style: italic;
}

.underline{
	text-decoration: underline;
}
.side-aligned-content .history-bars-div{
	border-right: 1px solid #baab8f;
    border-left: 1px solid #baab8f;
    height: 75px;
    width: 2px;
    margin: 5px auto;
    position: relative;
    opacity: 0;
    top: -150px;
    -webkit-transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
	-moz-transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
	-ms-transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
	-o-transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
	transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
}
.side-aligned-content .history-bars-div.mobile{
	display: block;
}
/*animation area*/

.component .width-wrapper,
.history-animate{
	top: 100px;
	opacity: 0;
	position: relative;
}
.bars-div{
	position: relative;
	top: -150px;
	opacity: 0;
	-webkit-transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
	-moz-transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
	-ms-transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
	-o-transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
	transition: top 1s ease-in-out, opacity 1s ease-in-out, padding-bottom 1s ease-in-out .33s;
}

.animate-in .bars-div,.history-animate.animate-in > .history-bars-div{
	top: 0px;
	opacity: 1;
	padding-bottom: 0;
}
.component.page-header .width-wrapper,
.component.recipe-detail .width-wrapper{
	top: 0;
	opacity: 1;
}

.component.animate-in .width-wrapper,
.history-animate.animate-in{
	top: 0;
	opacity: 1;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

/*animation area*/
@media (max-width: 960px) {
	.content-nav.width-wrapper{
		box-sizing: border-box;
		padding: 0 20px 0 20px;
		border-bottom: none;
	}
	.page-recipe .content-nav.width-wrapper,
	.page-product .content-nav.width-wrapper {
		border-top: none;
	}

	.content-nav .content-next,
	.content-nav .content-prev{
		border-bottom: 1px double #baab8f;
    	border-bottom-width: 4px;
	}
	.page-recipe .content-nav .content-next,
	.page-recipe .content-nav .content-prev,
	.page-product .content-nav .content-next,
	.page-product .content-nav .content-prev {
		border-top: 4px double #baab8f;
	}
	.bars-div{
		height: 39px;
	}

	video {
		/*display: none;*/
	}
	.logo{
    margin-left:25px;
    }
    .tablet-landed .select-wrapper select {
    	display: block !important;
    }
}
@media (max-width: 480px) {
	*[tabindex]:focus,
	.option.focus,
	a:focus {
		outline: none;
		outline-color: #baab8f;
		outline-width: none;
		-moz-outline-radius: none;
	}

	html.firefox *[tabindex]:focus,
	html.firefox .option.focus,
	html.firefox a:focus,
	html.safari *[tabindex]:focus,
	html.safari .option.focus,
	html.safari a:focus {
	    outline-style: none;
		outline-width: none;
	}
	.component.mobile-collapse > div,.mobile-collapse .history-animate{
		top: 0;
	}
	.history-animate{
		display: none;
		top: 0;
		opacity: 1;
	}
	.opened .history-animate{
		display: block
	}
	.history-animate > .history-bars-div{
		top: 0;
		opacity: 1;
	}
	h1{
		font-size:40px;
		line-height: 43px;
	}
	html.wf-inactive h1{
		font-size: 22px;
	}
	h2{
		font-size: 32px;
		padding: 20px 0 20px 0;
	}
	html.wf-inactive h2{
		font-size: 24px;
	}

	.mobile-hide{
		display: none;
	}
	.mobile-show{
		display: block;
	}
	a.button{
		padding: 10px 20px;
		font-size: 16px;
		margin: 20px 0px
	}
	a.button.button-blk{
		padding: 10px 20px;
		font-size: 16px;
		margin: 20px 0px
	}
	.bars-div{
		height: 39px;
	}
	a.button .svg-wrap svg{
		max-width: 23px;
	}
	.select-wrapper select {
		display: block !important;
	}
	.content-nav.width-wrapper{
		display: table;
	}
	.content-nav .content-next{
		padding:25px 10px 15px 25px;
		display: table-cell;
	}
	.content-nav .content-prev{
		padding:25px 25px 15px 10px;
		display: table-cell;
	}
	.story-teaser-section{
		display: none;
	}
	a.button:before,
	button.button:before,
	span.button.input-button-wrap:before{
		content: none;
	}
	a.button:before,
	button.button:before,
	span.button.input-button-wrap:before,
	a.button.button-blk:before{
		content: none;
	}
	a.button:hover .svg-wrap svg,
	button.button:hover .svg-wrap svg{
		fill:#baab8f;
	}
	a.button:hover,
	button.button:hover,
	span.button.input-button-wrap:hover,
	span.button.input-button-wrap input:hover{
		color: #baab8f;
	}
	a.button.button-blk:hover{
		color: #000;
	}

}

/*Global End*/

/* Preview Mode */
.node-preview-container {
	background: rgba(0,0,0,.5);
	border: 1px solid #fff;
	left: 0;
	padding: 10px 20px;
    right: 0;
    text-align: center;
	top: 60px;
	transition: top .25s ease-in-out;
	width: auto;
}
body.toolbar-fixed.toolbar-tray-open.toolbar-vertical .node-preview-container,
body.toolbar-fixed .node-preview-container {
	left: 50%;
	right: inherit;
	top: 99px;
	transform: translateX(-50%);
}
body.toolbar-fixed.toolbar-tray-open .node-preview-container {
	top: 138px;
}
.node-preview-container:before {
	content: "Preview Mode:";
	font-size: 14px;
}
.node-preview-container form {
	display: inline-block;
	padding-left: 10px;
}
.node-preview-container form .js-form-type-select,
.node-preview-container form .input-button-wrap {
	display: none;
}
/* Preview Mode End */

/* Revision Viewer */
article header .node__title {
	display: none;
}
article header .revision-title {
	background: rgba(0,0,0,.5);
	border: 1px solid #fff;
	font-size: 14px;
	left: 0;
	padding: 10px 20px;
	position: fixed;
    right: 0;
    text-align: center;
	top: 60px;
	transition: top .25s ease-in-out;
	width: auto;
	z-index: 102;
}
body.toolbar-fixed.toolbar-tray-open.toolbar-vertical article header .revision-title,
body.toolbar-fixed article header .revision-title {
	left: 50%;
	right: inherit;
	top: 99px;
	transform: translateX(-50%);
}
body.toolbar-fixed.toolbar-tray-open article header .revision-title {
	top: 139px;
}
/* Revision Viewer End */
.tagline{
  z-index: 10;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: .065em;
  font-size: 1.5rem;
  }
.background {
  background-size: cover;
  text-align: left;

  &__Dominican {
    background: url(http://www.inthehumidor.com/wp-content/uploads/2013/02/JMs-Dominican-Lines-Lo.jpg) no-repeat center center;
  }
}
