
.ais-MenuSelect__select {
    font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
    font-size: 24px;
    padding: 10px 0px;
    padding-right: 30px;
    position: relative;
    border-bottom: 1px dashed #baab8f;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    min-width: 200px;
    position: relative;
    color: #baab8f;
    background: none;
  }
  .ais-MenuSelect__option {
    color:blue;
  
  }
  .ais-MenuSelect__option--count {
    display:none;
  }
  .ais-MenuSelect__itemCount {
    color:red;
  }
  