.app__jumbotron {
    background: url(https://source.unsplash.com/1600x1050/?nature);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white !important;
    margin-bottom: 0px!important;

        .title {
        padding-top: 6rem;
        }

        .phone {
        padding-top: 0;
        line-height:.01rem;
        }
  }