button {
  outline: none;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  vertical-align: middle;
  border: 3px solid $app-color-muted;
  color: $app-color-muted;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0;

  &:active,
  &:focus,
  &:hover {
    background: $app-color; 
    color: $black;
    border-color: $app-color; 
  }
}

.btn {
  outline: none;
  font-family: $headings-font-family;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 3px solid $app-color-muted;
  color: $app-color-muted;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  line-height: 1;
  padding: 3;
  font-weight: 700;
  

  &:active,
  &:focus,
  &:hover {
    background: $app-color; 
    color: $black;
    border-color: $app-color; 
    font-weight: 700;
  }
}

.btn-icon {
  align-items: center;
  display: inline-flex;
  line-height: 1;

  span {
    font-weight: 700;
    margin-left: $grid-gutter-width / 6;
    text-transform: uppercase;
  }
}

.btn-loading {
  @include striped-bg();
  animation: btn-loading 0.5s linear infinite;
  filter: grayscale(30%);
  pointer-events: none;
  transition: none !important;

  &--light {
    @include striped-bg(45deg, $gray-500, $gray-400);
  }
}

@keyframes btn-loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 5.6rem 0;
  }
}

a.button,
button.button,
span.button,
div.xola-button{
	background: none;
  	border: 3px solid #ffd72c;
  	zoom: 1;
	padding: 12px 25px;
	margin: 2rem 0 2rem 0;
	display: inline-block;
	color: #ffd72c ;
	text-decoration: none;
	position: relative;
	z-index: 2;
	font-weight:bold;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'acumin-pro-extra-condensed';
	-webkit-transition: color .25s ease-in-out, border-color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out, border-color .25s ease-in-out;
  	-ms-transition: color .25s ease-in-out, border-color .25s ease-in-out;
  	-o-transition: color .25s ease-in-out, border-color .25s ease-in-out;
	  transition: color .25s ease-in-out, border-color .25s ease-in-out;

	  @media only screen and (max-width : 480px) {
		padding: 10px 20px;
		margin: 1rem 0 1rem 0;
		width: 200px;
	}
}
div.xola-button{
	cursor: pointer;
}
html.wf-inactive a.button,
html.wf-inactive button.button,
html.wf-inactive span.button,
html.wf-inactive div.xola-button{
	font-size: 11px;
}
span.button.input-button-wrap {
	padding: 0;
}
span.button.input-button-wrap input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: none;
	border: none;
	color: #ffd72c;
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	padding: 12px 25px;
	padding-right: 70px;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
  	-ms-transition: color .25s ease-in-out;
  	-o-transition: color .25s ease-in-out;
  	transition: color .25s ease-in-out;
  	z-index: 1;
}
a.button .svg-wrap,
button.button .svg-wrap,
div.xola-button .svg-wrap{
	padding-left: 15px;
	align-self: center;
	color: black;

}

a.button-text .svg-wrap svg{
	padding-right: 10px;
}

a.button-text .svg-wrap svg,
a.button .svg-wrap svg,
button.button .svg-wrap svg,
div.xola-button .svg-wrap svg{
	fill: #ffd72c;
	max-height: 30px;
	max-width: 24px;
	vertical-align: middle;
	width: 100%;
	-webkit-transition: fill .25s ease-in-out;
	-moz-transition: fill .25s ease-in-out;
  	-ms-transition: fill .25s ease-in-out;
  	-o-transition: fill .25s ease-in-out;
	  transition: fill .25s ease-in-out;
	  color: black;

}
a.button:hover .svg-wrap svg,
/* div.xola-button:hover .svg-wrap svg */
button.button:hover .svg-wrap svg {
	fill: #000;
}
a.button:hover,
button.button:hover,
/* div.xola-button:hover */
span.button.input-button-wrap:hover,
span.button.input-button-wrap input:hover{
	color: #000 !important;
}
#button-hover:hover{
	color: #000;
}
a.button-text{
	margin-top: 30px;
	color: #BD9A05;
	display: block;
	text-decoration: none;
}
a.button:before,
button.button:before,
/* div.xola-button:before */
span.button.input-button-wrap:before{
  	content: '';
	position: absolute;
	background-color:#ffd72c;
	right: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transition: right .15s ease-in-out;
	-moz-transition: right .15s ease-in-out;
  	-o-transition: right .15s ease-in-out;
  	-ms-transition: right .15s ease-in-out;
  	transition: right .15s ease-in-out;
}
span.button.input-button-wrap:after {
    content: "\e914";
    font-family: 'jdicons';
    font-size: 8px;
    margin-top: -3px;
    padding-right: 20px;
    position: absolute;
    right: 0;
    top: 50%;
}
a.button:hover:before,
button.button:hover:before,
/* div.xola-button:hover:before  */
span.button.input-button-wrap:hover:before{
	right:0px;
}
a.button.button-blue{
	border: 3px solid blue;
	display: inline-block;
	color: white;
	text-decoration: none;
	position: relative;
	z-index: 2;
	font-weight:bold;
	overflow: hidden;
	text-transform: uppercase;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
  	-o-transition: color .25s ease-in-out;
  	-ms-transition: color .25s ease-in-out;
  	transition: color .25s ease-in-out;
}
a.button.button-blue:after{
	color: white !important;
}
a.button.button-blue:hover:after{
	color:blue;
}
a.button.button-blue:hover{
	color:white !important;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
  	-o-transition: color .25s ease-in-out;
  	-ms-transition: color .25s ease-in-out;
  	transition: color .25s ease-in-out;
}
a.button.button-blue:hover:before {
	right:0px;
}
a.button.button-blue:before{
	position: absolute;
	background-color:blue;
	right: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transition: right .15s ease-in-out;
	-moz-transition: right .15s ease-in-out;
  	-o-transition: right .15s ease-in-out;
  	-ms-transition: right .15s ease-in-out;
  	transition: right .15s ease-in-out;
  	content: '';
}
//Burg
a.button.button-burg{
	border: 3px solid #9c0000;
	display: inline-block;
	color: white;
	text-decoration: none;
	position: relative;
	z-index: 2;
	font-weight:bold;
	overflow: hidden;
	text-transform: uppercase;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
  	-o-transition: color .25s ease-in-out;
  	-ms-transition: color .25s ease-in-out;
  	transition: color .25s ease-in-out;
}
a.button.button-burg:after{
	color: white !important;
}
a.button.button-burg:hover:after{
	color:#9c0000;
}
a.button.button-burg:hover{
	color:#9c0000;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
  	-o-transition: color .25s ease-in-out;
  	-ms-transition: color .25s ease-in-out;
  	transition: color .25s ease-in-out;
}
a.button.button-burg:hover:before {
	right:0px;
}
a.button.button-burg:before{
	position: absolute;
	background-color: #9c0000;
	right: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transition: right .15s ease-in-out;
	-moz-transition: right .15s ease-in-out;
  	-o-transition: right .15s ease-in-out;
  	-ms-transition: right .15s ease-in-out;
  	transition: right .15s ease-in-out;
  	content: '';
}
a.button .svg,
button.button .svg{
	width: 24px;
}
a div.button-table{
	display: table;
}
a div.button-table .button-cell span.button-text-wrapper{
	display: table-cell;
  vertical-align: middle;
  text-transform:uppercase;
}
a div.button-table .button-cell span.svg-wrap{
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
}

#subscribe2 {
	padding: 12px 25px;
	margin: 0rem 0 0rem 0;

}