button {
  outline: none;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  vertical-align: middle;
  border: 3px solid $app-color-muted;
  color: $app-color-muted;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0;

  &:active,
  &:focus,
  &:hover {
    background: $app-color; 
    color: $black;
    border-color: $app-color; 
  }
}

.btn {
  outline: none;
  font-family: $headings-font-family;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 3px solid $app-color-muted;
  color: $app-color-muted;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  line-height: 1;
  padding: 3;
  font-weight: 700;

  &:active,
  &:focus,
  &:hover {
    background: $app-color; 
    color: $black;
    border-color: $app-color; 
    font-weight: 700;
  }
}

.btn-icon {
  align-items: center;
  display: inline-flex;
  line-height: 1;

  span {
    font-weight: 700;
    margin-left: $grid-gutter-width / 6;
    text-transform: uppercase;
  }
}

.btn-loading {
  @include striped-bg();
  animation: btn-loading 0.5s linear infinite;
  filter: grayscale(30%);
  pointer-events: none;
  transition: none !important;

  &--light {
    @include striped-bg(45deg, $gray-500, $gray-400);
  }
}

@keyframes btn-loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 5.6rem 0;
  }
}
