html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  background-color: $app-color-alt;
  min-height: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;

  &.disabled {
    pointer-events: none;
  }
}

.not-found {
  text-align: center;

  h1 {
    font-size: 13rem;
    margin: 0;

    @include sm {
      font-size: 25.6rem;
    }
  }
}

.isvg {
  display: inline-block;

  svg {
    height: auto;
    max-height: 100%;
  }
}

select {
  background: none;
  color: $app-color-muted !important;  
  border: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  width:100%
}


.side-aligned-content .parallax {
	bottom: 0;
	height: auto;
	position: absolute;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	width: 150px;
	z-index: 0;
}

/*Global Begin*/
body{
	background-color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:#fff;
}
body.noscroll{
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
body.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a,button,input,label,form,ul,p,h1,h2,h3,h4,h5, {
	opacity: 1;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

article.page-story a,
article.page-story p,
article.page-story h2,
article.page-story h3,
article.page-story h4,
article.page-story h5,
article.page-story .xola-button{
	color: black;
}
h1{
	font-size: 65px;
	text-align: center;
	line-height: 65px;
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	color: white;
	letter-spacing: .065em;
	text-transform: uppercase;
	font-weight: bold;
	margin:10px 0px;
}
html.wf-inactive h1{
	font-size: 36px;
}
h2{
	font-size: 48px;
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	font-weight: bold;
	padding-bottom: 10px;
	letter-spacing: .065em;
	padding-top: 30px;
	text-transform: uppercase;
}
html.wf-inactive h2{
	font-size: 28px;
}


h3 {
  color: white;
  font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
  font-size: 24px;
  font-weight: 300;
}


html.wf-inactive h3{
	font-size:19px;
}
h4{
	font-size:24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: .065em;
	padding-bottom: 10px;
}
html.wf-inactive h4{
	font-size:16px;
}
h5{
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	font-size: 18px;
	font-weight:bold;
	letter-spacing: .105em;
  text-transform: uppercase;

}
.dark {
  color: $dark-grey;
  padding: 1em;
}
html.wf-inactive h5{
	font-size: 11px;
}
p{
	font-family: "ff-tisa-web-pro",Slab-Serif,Sans-Serif;
	line-height: 23px;
}
a{
	font-family: "acumin-pro-extra-condensed",Sans-Serif;
	letter-spacing: .065em;
	font-weight:bold;
	text-decoration: none;
	&:hover{
		text-decoration: none;

	}

}
li{
	font-family: "ff-tisa-web-pro",Slab-Serif,Sans-Serif;
	color:white;
	line-height: 23px;
}
img{
	width: 100%;
}
*[tabindex]:focus,
.option.focus,
a:focus {
	outline: -webkit-focus-ring-color auto 8px;
	outline-color: $app-color;
	outline-style: auto;
	outline-width: 8px;
	-moz-outline-radius: 4px;
}

html.firefox *[tabindex]:focus,
html.firefox .option.focus,
html.firefox a:focus,
html.safari *[tabindex]:focus,
html.safari .option.focus,
html.safari a:focus {
	outline-style: solid;
	outline-width: 2px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.cell-wrap {
	align-self: stretch;
	align-items: flex-start;
	display: block;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction:row;
	position: relative;
}
#page-wrapper{
	margin:auto;
	width: 100%;
}
#document-overlay {
	background-color: transparent;
	cursor: pointer;
	cursor: grabbing;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-ms-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	width: 100%;
	z-index: 9999;
}
.width-wrapper{
	max-width: 960px;
	margin: 0 auto;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.svg-wrap svg {
	height: auto;
	vertical-align: middle;
	width: auto;
}
.logo{
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
	height: 36px;
	display: inline-block;
	width: 93px;
	margin:13px 0 0 41px;
}
p a {
	font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
	font-size: inherit;
	font-weight: inherit;
	color: #ffffff;
	letter-spacing: inherit;
	text-decoration: none;

}

.mobile-show{
	display: none;
}

.select-wrapper {
	display: inline-block;
	position: relative;
}
.select-wrapper select {
	bottom: 0;
	display: none;
	font-size: 16px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
html.wf-inactive .select-wrapper select{
	font-size: 11px;
}
.mod-select {
	cursor: pointer;
	display: block;
	float: left;
	min-width: 200px;
	position: relative;
	color: $app-color;
}
.mod-select .selected {
	font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
	font-size: 24px;
	padding: 10px 0px;
	padding-right: 30px;
	position: relative;
	border-bottom: 1px dashed $app-color;
	text-align: left;
}
.mod-select.cl-drop .selected{
	color: #fff;
	font-family: 'acumin-pro-extra-condensed',Sans-Serif;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #fff;
	padding: 10px 30px 10px 10px;
}
html.wf-inactive .mod-select.cl-drop .selected{
	font-size: 11px;
}
.mod-select .selected:after {
	content: "\e904";
	font-family: 'jdicons';
	font-size: 6px;
	line-height: 45px;
	position: absolute;
	right: -15px;
	top: 0;
	z-index: 101;
}
.mod-select.cl-drop .selected:after{
	right: 15px;
}
.mod-select.collapsed .selected:after {
	content: "\e900";
	z-index: 99;
}
.mod-select .dropdown {
	background: #000;
	text-align: left;
	max-height: 200px;
	left: -1px;
	list-style: none !important;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	padding: 0 !important;
	right: -1px;
	top: 100%;
	z-index: 100;
}
.mod-select .dropdown div {
	position: relative;
}
.mod-select.cl-drop .dropdown {
	border: 2px solid #ffffff;
	left: 0px;
	right: 0px;
	position: absolute;
}

.mod-select.collapsed .dropdown {
	border-width: 0px;
	height: 0;
}
.mod-select .dropdown li {
	background: #000;
	box-sizing: border-box;
	color: $app-color;
	font-family: 'ff-tisa-web-pro',Slab-Serif,Sans-Serif;
	font-size: 18px;
	padding: 10px;
	position: relative;
	-webkit-transition: color .25s ease-in-out, background .25s ease-in-out;
	-moz-transition: color .25s ease-in-out, background .25s ease-in-out;
	-ms-transition: color .25s ease-in-out, background .25s ease-in-out;
	-o-transition: color .25s ease-in-out, background .25s ease-in-out;
	transition: color .25s ease-in-out, background .25s ease-in-out;
	width: 100%;
}
html.wf-inactive .mod-select .dropdown li{
	font-size: 11px;
}
.mod-select.cl-drop .dropdown li {
	color: #ffffff;
	font-family: 'acumin-pro-extra-condensed',Sans-Serif;
	font-weight: bold;
}

.mod-select .dropdown li:first-child {
	padding-top: 10px;
}
.mod-select .dropdown li:hover {
	background-color: #212121;
}
/* end select boxes */

@media (max-width: 480px) {
	*[tabindex]:focus,
	.option.focus,
	a:focus {
		outline: none;
		outline-color: $app-color;
		outline-width: none;
		-moz-outline-radius: none;
	}

	html.firefox *[tabindex]:focus,
	html.firefox .option.focus,
	html.firefox a:focus,
	html.safari *[tabindex]:focus,
	html.safari .option.focus,
	html.safari a:focus {
	    outline-style: none;
		outline-width: none;
	}
}