.app__home {
  padding: 0;
  text-align:center;


  h2 {
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width : 480px) {
    h2 {
      font-size: 32px;
      padding: 20px 0 20px 0;
    }
  }

  &__grid .gutters {
    background-color: $black;
    padding-bottom: $grid-gutter-width;
    padding-top: $grid-gutter-width * 2;

    @include lg {
      padding-bottom: $grid-gutter-width * 2;
      padding-top: $grid-gutter-width * 2;
    }

    h4 {
      margin-bottom: $grid-gutter-width * 2;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;

      > li {
        width: percentage(1 / 2);

        @include md {
          width: percentage(1 / 4);
        }
      }
    }
  }

  &__grid .gutters2 {
    background: url('http://res.cloudinary.com/dygn/image/upload/v1513545807/home-fw1_v3wbsk.jpg') no-repeat center center;
    background-size: cover;
    text-align: left;
    padding-bottom: $grid-gutter-width;
    padding-top: $grid-gutter-width * 2;

    @include lg {
      padding-bottom: $grid-gutter-width * 2;
      padding-top: $grid-gutter-width * 2;
    }

    h4 {
      margin-bottom: $grid-gutter-width;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;


      > li {
        width: percentage(4 / 4);

        @include md {
          width: percentage(4 / 4);
        }
      }
    }
  }

  &__find-your-blend {
    display: flex;
    flex-direction: column;
    margin-bottom: $grid-gutter-width;
    text-align: left;
    margin: 0em 2em 0em 2em;


    &__cell {
      align-items: center;
      margin: 0em 2em 0em 2em;
      background-color:blue;
      display: flex;
      justify-content: center;
      margin-bottom: $grid-gutter-width / 2;
      min-height: 10rem;
    
    }
  }

  &__instagram {
    margin-bottom: $grid-gutter-width;
    width: 200px!important;
    display: inline-block;
    float: left;
    height: 200px!important; 
    background-color: $dark-grey;
    overflow: hidden;
    margin: 0 auto;
    opacity:0.5;
    &:hover {
      opacity:.85;
    }
    .object-cover { 
      object-fit: contain ;
    }

  }
  
}

