.fun_background{
    height: 100vh;
    background: rgba(255, 255, 255, 0.705);
    z-index: 200;
  }
  .format_locations_list {
    display: inline-block;}
.blank_button {
    font-size:1.5rem;
    background-color: transparent;
    border: none;
    text-align: justify;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0px 5px 0px;}
.item_width {
    width: 150px;
    display: block;}