/* Thin out the our-story headings */
.our-cigars-heading {
    font-weight: bold;
    line-height: 1;
    letter-spacing: .065em;
    color: white!important;
    opacity: 1 !important;
    z-index: 25;
  }
  .background {
    background-size: cover;
    text-align: left;
  
    &__Dominican {
      background: url('https://res.cloudinary.com/dygn/image/upload/b_rgb:000000,c_scale,o_31,w_1409/v1524852409/about-dom_rsboes.jpg') no-repeat center center;
    }
    &__Dominican-Honey {
      background: url('https://res.cloudinary.com/dygn/image/upload/b_rgb:000000,c_scale,o_29,w_1868/v1524852560/about-honey_kucrd8.jpg') no-repeat center center; 
    }
  &__Dominicand-Boy-Girl {
    background: url('https://res.cloudinary.com/dygn/image/upload/b_rgb:000000,c_scale,o_31,w_1409/v1524852409/about-dom_rsboes.jpg') no-repeat center center;
      
    }
    &__Espanola {
      background: url('https://res.cloudinary.com/dygn/image/upload/b_rgb:000000,c_scale,o_27,w_1589/v1524852524/about-espan_f2uxh4.jpg') no-repeat center center; 
  
      
      }
      &__Zoidian {
        background: url('https://res.cloudinary.com/dygn/image/upload/b_rgb:000000,c_scale,o_23,w_1811/v1516763343/about-zoid_slt4zc.jpg') no-repeat center center; 
      }
  }


  .cigars-jumbotron {
    background: url('https://res.cloudinary.com/dygn/image/upload/v1516077484/cigars-hero_whoajk.jpg') no-repeat center center;
    background-size: cover;
    color:white !important;
    margin-bottom: 0px!important;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    padding: 2rem 1rem;
  }




//ADJUST HEIGHT 

// .our-cigars__height {
//     max-height: 200px !important;
// }
// .our-cigars__height img {
//     height: 200px !important;
// }