$media-path: '../../assets/media/';
$font-path: '../../assets/fonts/';

$header-height: 7rem;
$footer-height: 5.1rem;

$app-color: #ffd72c;
$app-color-alt: #000000;
$app-color-alt-faded: rgba(5, 7, 10, 0.67);
$app-color-muted: #BD9A05;


$white: #fff;
$black: #000;

$dark-grey: #7f7f7f;
$med-grey: #d9d9d9;
$light-grey: #f5f5f5;

$dark-cool-grey: #585d62;
$med-cool-grey: #a9afb7;
$light-cool-grey: #e0e4e9;



$app-easing: cubic-bezier(0.35, 0.01, 0.77, 0.34);
